body {
  margin: 0;
  font-size: 0;
}

main {
  margin: 0;
  font-size: 0;
}

section {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  background: rgba(25, 25, 25, 0.5);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  gap: 2rem;
}

nav a {
  font-family: Arial;
  font-size: 1.5rem;
  color: rgba(233, 8, 2, 1);
  text-decoration: none;
  display: block;
  background: rgba(0,0,0,.4);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  border-radius: 12px;
}

nav a:hover {
  color: white;H
  background: rgba(0,0,0,.1);
  border: 1px solid rgba(233, 8, 2, 1);
  padding: 3px 9px;
  flex-shrink: 0;
}

nav a:first-child {
  margin-right: auto;
  margin-left: 50px;
}

nav a:last-child {
  margin-right: 50px;
}

img {
  width: 100%;
  z-index: -1;
}

img.background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -49px; /* Height of nav */
}

.links {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  margin: 0;
}

.links a {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: Arial;
  font-size: 2.5rem;
  text-decoration: none;
  color: #FFF;
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.links a:hover {
  box-shadow: inset 0 0 0 5px white; 
}

.links img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  min-width: 100%;
  background-size: cover;
  transition: transform 0.3s ease;
}

.links a:hover img {
  transform: scale(1.10) translate(-45%, -45%);
}

form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

label {
  font-size: 1.2rem;
}

input {
  border: 1px solid red;
  display: inline-block;
  max-width: 200px;
  margin-bottom: 50px;
  padding: 0;
}

.modifiable input:focus {
  outline: none;

}

input:focus {
  outline: none;
}

label {
}

label::before{
  content: " ";
  display: block;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

button {
}
