body {
}

main {

}
section {
  box-sizing: border-box;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 2rem;
}

nav a {
  font-family: Arial;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  flex-shrink: 0;
}

nav a:first-child {
  margin-right: auto;
}

.links {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.links a {
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Arial;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  border: 1px solid black;
  /* Pulls the link below up one to overlap borders */
  margin-bottom: -1px;
}

input {
  border: 1px solid red;
  display: inline-block;
}

label {
}

label::before{
  content: " ";
  display: block;

}
